@tailwind base;
@tailwind components;
@tailwind utilities;

.text-glow { text-shadow: 0 0 15px rgba(0, 243, 255, 0.6); }
.no-scrollbar::-webkit-scrollbar { display: none; }
.break-inside-avoid { break-inside: avoid; }
body { overflow-x: hidden; background: #030305; }
